<div class="container" dir="rtl">
	<div class="col-sm-4">
	<img src="assets/image/logo.jpg"/>
	
	</div>

	<div class="col-sm-4">
		<h1>قسم الطعام
</h1>
	<img src="assets/image/food.jpg"/>
	<h4>الاحتياجات الغذائية الأساسية لكبار السن :</h4>
	<p>
		
		الاحتياجات الغذائية الأساسية للمسنين هي مماثلة لتلك التي تكون للصغار جدا وينبغي أن يكون هناك اتباع لنظام غذائي متوازن يضم كميات كافية من الأغذية الصحية والمغذية بشكل عام ، يجب أن تحتوي خطة نظامهم الغذائي :
– الكربوهيدرات (أساسا من الحبوب ، الأرز البني ، والمعكرونة ، والحنطة ، والبطاطا )
– البروتينات (على حد سواء غير الخضار بما في ذلك البيض والسمك واللحوم والفول والبقول، وغيرها)
– الفواكه والخضار الطازجة (لا يقل عن خمس حصص يوميا)
الناس الذين تتراوح أعمارهم بين يجب توجيه واضح من الأطعمة الدهنية ، والأطعمة المصنعة ، والملح الزائد والشرب والتدخين وغير ذلك وإلى وظائف عادية من أعضائهم الداخلية يمكن ان تتاثر ، والتي يمكن في نهاية المطاف ان تؤثر سلبا على صحتهم.


	</p>
	<h4>
النصائح الطبية لغذاء كبار السن في رمضان :

	</h4>
	<p>
		– تناول الغذاء الغني بالفيتامينات ، والمعادن ، والاكثار من الأطعمة المحتوية على الألياف لعلاج الامساك الذي قد ينتج عن الصيام .
– تناول الغذاء الغني بالبروتين الخالي من الدهون ، ويفضل الاعتماد على الاسماك ، واللحوم البيضاء ، والبروتين النباتي ، وينصح بتناول كم من البروتين 1-1.5 جم/كجم يومياً ، للقضاء على الضعف الجسماني الذي يصيب كبار السن .
– تعويض نقص السوائل خلال فترة الصيام بشرب كمية من السوائل وخاصة الماء ، لتفادي جفاف الكلى والحفاظ على سلامتها ، اذ ينصح بشرب لترين أو ثلاثة من الماء في الفترة من بعد الافطار وحتى السحور ، كذلك يوصى بالابتعاد عن شرب المياه الغازية ، والاكثار من شرب المشروبات والعصائر الطبيعية والتي تكثر في شهر رمضان ، مثل التمر هندي ، والعرقسوس ، والخروب ، والكركدية ، والدوم .
– تناول الطعام قليل الملح ، والمخللات ، والأطعمة الحريفة خاصة لمرضى الضغط المرتفع .
– تناول الطعام المطبوخ اللين لتسهيل مضغ الطعام ، وتفادي عسر الهضم والامتصاص .
– تناول الغذاء الغني بالحديد ، لما له من أهمية لكبار السن ، اذ ينصح بتوفيره بشكل يومي خلال الوجبات ، ومصادر الحديد مثيرة ومعروفة اذ يوجد في السبانخ ، والفاصوليا البيضاء ، والجرجير ، واللحوم الحمراء ، والكبدة ، والتونة .
– تناول الأغذية الغنية بفيتامين ب12 ، لأهميته في الوقاية من التهاب الاعصاب الذي يصيب كبار السن بكثرة ، وخاصة مرضى السكر ، ومن الأغذية الغنية بفيتامين ب12 السلمون ، والبيض ، كبد الدجاج .
– الاكثار من الخضروات في وجبتي الافطار والسحور ، لأهميتها لوجود الألياف التي تمنع الاصابة بعسر الهضم ، ويفضل طهي الخضروات بطريقة صحية بعيداً عن التسبيك ، والاعتماد على الخضروات المسلوقة ، أو الطازجة ، وطهي الخضروات بشكل جيد لسهولة مضغها لكبار السن .
– يوصى بعدم الافراط في تناول البقول في شهر رمضان ، لتفادي الاصابة بالانتفاخ ، وأمراض القولون .
– البعد عن شرب المشروبات الغنية بالكافيين مثل القهوة والشاي ، لأن الكافيين مدر للبول ، مما يعمل على فقد الماء من الجسم ، والتعرض للجفاف ، كما يؤدي لكثرة التبول ليلاً ، والاصابة بالأرق .
– تناول الطعام على وجبات متعددة ، وليس دفعة واحدة ، وتوزيع الطعام على وجبات صغيرة بين الافطار والسحور ، وعلى فترات قريبة .
– الاهتمام بالتجمعات الأسرية في الشهر الكريم ، للعمل على اسعاد كبار السن ، وفتح الشهية ، وزيادة الرغبة في تناول الطعام .
– الالتزام بنمط الغذاء المناسب لكل مسن حسب الحالة الصحية والمرضية ، وخاصة مرضى القلب ، والسكري ، والضغط ، ومراجعة الطبيب المعالج قبل بدء الصيام ، للحصول على الارشادات والنصائح الخاصة بغذاء المسن في فترات الصيام .

	</p>
	<h4>
		احتياجات التغذية الخاصة للمسنين :
	</h4>
	<p>
		وبصرف النظر عن هذه المتطلبات الأساسية ، يجب أن كبار السن أيضا يتضمن غذائهم عددا من العناصر المغذية المحددة في النظام الغذائي اليومي ، دعونا نلقي نظرة على تلك الاحتياجات الغذائية لكبار السن :
1. فيتامين د :
يتم تشخيصه لكبار السن الذين يعانون من نقص الكالسيوم الحاد ، والذي هو نتيجة لعدم وجود فيتامين D في الجسم، الفيتامين ينتج أساسا في الجلد من التعرض لأشعة الشمس ، ويساعد الجسم على امتصاص الكالسيوم أكثر وبعبارة أخرى فيتامين D ضروري للحفاظ على صحة العظام لذلك لا بد من التعرض لأشعة الشمس السليمة وكمية كافية من الأطعمة الغنية بفيتامين D مثل البيض والحبوب المدعمة والسمن وزيت كبد سمك القد والسلمون ، والتونة ، وما إلى ذلك لتلبية الاحتياجات اليومية من فيتامين وكذلك لمنع فقدان العظام .
2. فيتامين سي :
قدرة الشفاء الطبيعية من الجسم وينخفض مع تقدمنا في العمر ومع ذلك ، تناول كمية كافية من فيتامين C يمكنه مكافحة امراض كثيرة بنجاح ، وقد أثبتت الدراسات أن هذا الفيتامين يمكنه أن يعزز إنتاج الكولاجين في الجسم ، وهو أمر ضروري لإصلاح الأنسجة وعلاج الجروح كونه مضاد للأكسدة ، ويمكن أن يأخذ الرعاية من صحة الأوعية الدموية لدينا ، الأنسجة الضامة ، والجلد ، ومن المعروف أيضا للوقاية من الأمراض الشديدة مثل السرطان والسكتة الدماغية والنوبات القلبية ، الخ المسنون يجب عليهم أن يستهلكوا الكثير من الفواكه والخضروات الطازجة لتلبية احتياجاتهم اليومية من فيتامين C .

3. الألياف الغذائية :
الإمساك وقضايا الأمعاء المتكررة ، و التهيج الشائعة هذا هو السبب لان يحتاج كبار السن الكثير من الألياف في النظام الغذائي للتعامل مع هذه المشاكل بكفاءة ، بعض مصادر ممتازة من الألياف الغذائية هي الخبز والحبوب الكاملة ، حبوب الفطور ، الأرز البني ، والعصيدة ، والبقول والبقوليات ، والفواكه الطازجة والخضروات .
4. السوائل :
كبار السن يجب أن جسمهم ملئ بالسوائل عن طريق استهلاك كميات كافية من السوائل ، السائل أمر ضروري للحفاظ على الوظائف العادية لذلك فإنهم يحتاجون إلى استهلاك الكثير من الماء ، وعصائر الفاكهة والمشروبات الساخنة .
5. الكالسيوم :
كما ذكر من قبل الكالسيوم أمر حيوي للحفاظ على صحة العظام في الأشخاص الذين تكون اعمارهم كبيرة ، نقص هذا المعدن يمكن أن يؤدي إلى مشاكل العظام مثل هشاشة شديدة ، وكسر ، وهشاشة العظام ، فمن المهم أن نظامهم الغذائي اليومي يحتوي على ما يكفي من الأطعمة الغنية بالكالسيوم مثل الحليب والجبن واللبن ، ومنتجات الألبان الأخرى ، فضلا عن الخضر الورقية

	</p>
	<p>
	<a href="javascript:;" style="
	color:blue" routerLink="/main"> القائمة الرئيسية
  </a>
</p>
	</div>
</div>