<div class="container" >
	<div class="col-sm-4">
	<img src="assets/image/logo.jpg"/>
	
	</div>

	<div class="col-sm-4">
		<h1>قسم الطعام
</h1>
	<div>
		<iframe width="250" height="200" src="https://www.youtube.com/embed/rmKESxeW554" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div>
		<iframe width="250" height="200" src="https://www.youtube.com/embed/xBnk9GnQAv0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div>
		<iframe width="250" height="200" src="https://www.youtube.com/embed/yl2fgE8A0N8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<p>
	<a href="javascript:;" style="
	color:blue" routerLink="/main"> القائمة الرئيسية
  </a>
</p>
	</div>
</div>