.col-sm-4{
	text-align:center;
}
img{
	width:150px;
	margin-bottom: 50px;
}
.button{
	padding:10px;
}
h4{
	text-align: right;
}
p{
	text-align: right;
}
h1{
	text-align: right;
}

ul{

	text-align: right;
}
