<div class="container" dir="rtl">
	<div class="col-sm-4">
	<img src="assets/image/logo.jpg"/>
	
	</div>

	<div class="col-sm-4">
		<h1>
			قسم العلاج
		</h1>
	<img src="assets/image/meditation.jpg"/>
	<h4>
		المشاكل الصحية الشائعة لدى كبار السن:
أولًا: المشاكل الصحية البدنية:

	</h4>
	
		<ul>
			<li>
			الأمراض المزمنة مثل: داء السكري، ارتفاع ضغط الدم، سلس البول، هشاشة العظام، ضعف البصر والسمع، السرطان.

		</li>
		<li>
				أمراض القلب.
		</li>
		<li>
				حوادث السقوط والكسور.
		</li>
		<li>
						أمراض الجهاز العضلي والحركي مثل: التهاب المفاصل، فقد التوازن، اضطراب المشي، صعوبة الحركة أو عدمها.
		</li>
		<li>
					سوء التغذية (الهزال أو السمنة).
		</li>
		<li>
						أمراض الجهاز التنفسي مثل: الأنفلونزا، والتهاب الرئتين.
		</li>
		<li>
							أمراض الجهاز العصبي مثل: الجلطة الدماغية، والرعاش (باركنسون).
		</li>
		<li>
				مشاكل الجهاز الهضمي مثل: ضعف حاسة التذوق، انخفاض قدرة المعدة والأمعاء على هضم وامتصاص الطعام، الإمساك.
		</li>
		<li>
				الجفاف.
		</li>
		<li>
				مشاكل الفم والأسنان مثل: سقوط الأسنان.
		</li>
		</ul>

	
	<h4>
اثانيًا: المشاكل العقلية والنفسية:

	</h4>
	
		<ul>
			<li>
					الأمراض العقلية والنفسية مثل: الخرف، الزهايمر، الاكتئاب، الهذيان.
			</li>
			<li>
					اضطراب النوم.
			</li>
		</ul>


	
	<h4>
		اثالثًا: المشاكل الاجتماعية:
	</h4>
	
			<ul>
				<li>

							العزلة الاجتماعية.
				</li>
				<li>
							انخفاض مستوى الأداء الوظيفي.
				</li>
			</ul>
	
	<h4>
		الشيخوخة
	</h4>
	<p>
		هي القدرة على القيام بالأنشطة اليومية الأساسية مثل: تناول الطعام، وارتداء الملابس، والاستحمام، والمشي، واستخدام دورات المياه بدون مساعدة الآخرين لأطول فترة عمرية حتى وإن كان يستخدم أدوات مساعدة للمشي والتنقل مثل: العصا، ومشاية كبار السن.
	</p>
	<h4>
		أهمية الشيخوخة الصحية:
	</h4>
	<p>
			إطالة متوسط العمر الصحي النشط. .1
					المحافظة على القدرة الوظيفية خلال مرحلة الشيخوخة واستمرار الاستقلالية في أداء احتياجاتهم  اليومية. .2
						خفض الوفيات المبكرة. .3
							رفع الروح المعنوية والشعور بالعافية لدى كبار السن. .4
								زيادة عدد الناس الذين يتمتعون بنوعية حياة إيجابية ويشاركون بأنشطة اجتماعية وثقافية. .5
									 خفض تكاليف العلاج الطبي وخدمات الرعاية. .6

</p>
	
	<h4>
		الطريق إلى شيخوخة صحية:
	</h4>
	<p>
		يبدأ الاستعداد للشيخوخة الصحية من عمر مبكر؛ حيث إن هنالك بعض الأمور التي تساعد الشخص على المحافظة على صحته عندما يتقدم في السن، وتشمل:
1. المحافظة على السلوكيات الصحية مثل: النظام الغذائي المتوازن، والنشاط البدني المنتظم، والامتناع عن التدخين والتي تساعد على:

	</p>
	<ul>
				<li>

								الحد من مخاطر الإصابة بالأمراض المزمنة.
				</li>
				<li>
								تحسين القدرات البدنية والعقلية.
				</li>
				<li>
						المحافظة على الكتلة العضلية.
				</li>

				<li>
							الاحتفاظ بوظيفة الإدراك.
				</li>

				<li>
						تأخير الاتكالية.
				</li>
			</ul>
	<p>
	<a href="javascript:;" style="
	color:blue" routerLink="/main"> القائمة الرئيسية
  </a>
</p>
	</div>
</div>
