<div class="container" dir="rtl">
	<div class="col-sm-4">
	<img src="assets/image/logo.jpg"/>
	
	</div>

	<div class="col-sm-4">
		<h1>قسم الرياضة
</h1>	<img src="assets/image/sport.jpg"/>
	<h4>فوائد الرياضة لكبار السن</h4>
	<p>
		
		تستطيع أن تغير كيف تفكر وكيف تتصرف عندما تكون كبيرا بالسن وذلك ببساطة إذا استطعت تغيير كيف تفكر وكيف تشعر وكيف تتصرف الآن، خبراء كبار السن يقولون أن البقاء في صحة جيدة ولياقة بدنية عالية هو المفتاح للوصول إلى شيخوخة صحيحة.
وقد كان الرسول الكريم يدعوا بـ  ” اللهم أني أعوذ بك من العجز والكسل “.


	</p>
	<h4>تعداد كبار السن
</h4><p>		
		تطبقا للكلية الأمريكية للطب الرياضي، فأنه بحلول عام 2030 تعداد من يبلغون أكثر من 65 عاما سيصلون 70 مليون، بعض منا سنكون ضمن هذا التصنيف.
لم يفت الآوان أبدا، أي كان عمرك التمارين الرياضية سوف تفيدك، جورج برن و الذي بلغ من العمر 100 عام كان يقول إذا كنت أعلم أني سوف أعيش كل هذه المدة كنت أهتتمت بصحتي ومارست الرياضة حتى أكون بصحة عند الوصول لهذا العمر.
صحيح أن بعض الأشخاص يوهبوا جينات صحية وتظل صحتهم بخير معظم حياتهم ولكن ليس دائما، وإليكم الصورة التي ترينا كيف تكون أجسامنا بعد الكبر.



	</p>
	<h4>
		هل من فوائد الرياضة لكبار السن تحسين المزاج العام؟ ا
	</h4>
	<p>
		لأحصائيات العالمية تؤكد أن أكثر من 14% من الرجال و 18% من النساء فوق سن 55 سنة يعانون من الاكتئاب، ولكن ممارسة الرياضة قادرة على تقليل هذه النسبة وتقليل الاحساس بالاكتئاب والأحباط بل أنها تنافس أدوية مضادات الاكتئاب في هذا. صحيح أن تأثير ممارسة الرياضه بالنسبة المئوية غير دقيق وغير معلوم تماما حتى الآن، ولكن ضخ القلب لدماء أكثر للمخ يساعد كثيرا في التخلص من المشاعر السلبية.
	</p>
	<h4>
		كيفية بداية كبار السن والرياضة
	</h4>
	<p>
		بالنسبة لكبار السن يجب العرض على الطبيب قبل البدء، ولا يجب البداية القوية السريعة لأنها قد تضر بالعضلات أبداء بالمشي ثم زد المسافة، ثم الجري وهكذا. سجل في نوتة صغيرة الأيام وأعمل خطة رياضية تلتزم بها ولا يهم قوة البداية ولكن يهم الاستمرار على الممارسة، إذا التزمت ثلاث أشهر على ممارسة الرياضة ستدهشك النتائج لدرجة أنك لن تقبل على إيقافها. التمارين الهوائية وقوة التحمل تزيد من معدل التنفس والنبض تحسن صحة القلب والرئتين والجهاز الدوري وتزيد من قوة التحمل وقدرته.
	</p>
	<p>
	<a href="javascript:;" style="
	color:blue" routerLink="/main"> القائمة الرئيسية
  </a>
</p>
	</div>
</div>