<div class="container" >
	<div class="col-sm-4">
	<img src="assets/image/logo.jpg"/>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
		<input type="text" class="form-control" readonly="" value="اسم المستخدم
">
</div>
<div class="form-group">

		<input type="text" class="form-control" readonly="" value=" كلمة المرور
 "/>
</div>
	</div>
	<div class="col-sm-4 button">
	<button class="btn btn-primary" routerLink="/main"> الدخول
  </button>

  <button class="btn btn-primary" routerLink="/main">
		
		الخروج

	</button>
</div>

</div>